<div class="post-date">{{ site.data.settings.sharing_button_prompt }}</div>
<div class="sharing-icons">
  <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.github.url }}{{ page.url }}" target="_blank">
    <i class="fa fa-linkedin" aria-hidden="true"></i>
  </a>
  <!-- Instagram no tiene URL directo para compartir, normalmente se comparte contenido manualmente -->
  <a href="https://www.instagram.com/" target="_blank">
    <i class="fa fa-instagram" aria-hidden="true"></i>
  </a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.github.url }}{{ page.url }}&amp;title={{ page.title }}" target="_blank">
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>
  <a href="https://www.researchgate.net/share?url={{ site.github.url }}{{ page.url }}" target="_blank">
    <i class="fa fa-researchgate" aria-hidden="true"></i>
  </a>
</div>
